@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
    font-family: 'Quicksand', sans-serif;
    -webkit-box-sizing: border-box;
}

:root {
    --main-color: #dfc481;
    --main-color-dark: #a68a4b;
    --text-color: #2a2a2a;
    --secondary-color: #617559;
    --secondary-color-dark: #8fa387;

    --bg-color: #fff7e1;

    --big-font: 4rem;
    --h1-font: 3.2rem;
    --h2-font: 2.8rem;
    --h3-font: 2.2rem;
    --h4-font: 1.3rem;

    --p--font: 1rem;

    --mb-1-5: 1.5rem;
}

/* REUSABLES */

.btn-default {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-color);
    border-radius: 12px;
    padding: 10px 14px;
    font-weight: 500;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color .3s ease;
    color: var(--bg-color);
}

.btn-default:hover {
    background-color: var(--secondary-color-dark);
}

section {
    padding: 70px 12% 60px;
}

.section__title {
    font-size: var(--h2-font);
    font-weight: 700;
}

.section__subtitle {
    display: block;
    font-size: var(--h4-font);
    margin-bottom: 3rem;
}

.section__title,
.section__subtitle {
    text-align: center;
}

header.sticky {
    padding: 12px 14%;
    background: #fcf6e5;
}

body {
    background-color: var(--bg-color);
    /* background-color: #fff; */
    color: var(--secondary-color);
}

.container {
    max-width: 1800px;
    margin: 0 auto;
}


/* HEADER */

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 30px 14%;
    transition: all .50s ease;
}

.logo {
    display: flex;
    align-items: center;
}

.navlist {
    display: flex;
}

.navlist a {
    color: var(--text-color);
    font-size: .9rem;
    font-weight: 600;
    margin: 0 25px;
    transition: all .50s ease;
}

.navlist a:hover {
    color: var(--secondary-color);
}

.navlist a.active {
    color: var(--secondary-color);
}

.nav-icons {
    display: flex;
    align-items: center;
    padding: 8px 15px;
    background: var(--secondary-color);
    border-radius: 1rem;
    box-shadow: var(--secondary-color) 0px 1px 15px;
    display: none;
}

#menu-icon {
    font-size: 24px;
    color: var(--bg-color);
    z-index: 1001;
    cursor: pointer;
}



/* HOME */

.home {
    margin-top: 70px;
    position: relative;
    /* height: 100vh; */
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

.home .home-img img {
    width: 90%;
    height: auto;
}

.home-text h3 {
    font-size: var(--h3-font);
}

.home-text h2 {
    font-size: var(--h3-font);
}

.home-text h4 {
    font-weight: bold;
    font-size: var(--h4-font);
    margin-bottom: 24px;
}

.home-text h1 {
    font-size: var(--big-font);
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 3rem;
}

.home-text p {
    font-weight: 600;
    margin-block: 1rem 1.5rem;
    color: var(--title-color);
    font-size: 1.1rem;
    line-height: 28px;
}

span {
    color: var(--main-color-dark);
    font-weight: 600;
}

.btn {
    display: inline-block;
    padding: 15px 35px;
    background: var(--secondary-color);
    color: var(--bg-color);
    font-size: var(--p--font);
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 2rem;
    transition: all .5s ease;
}

.btn i {
    vertical-align: middle;
    margin-right: 7px;
    font-size: 22px;
}

.btn:hover {
    background: var(--secondary-color);
    color: var(--bg-color);
    box-shadow: var(--secondary-color-dark) 0px 1px 25px;
}

.btn2 {
    display: inline-block;
    margin-left: 30px;
    font-size: var(--p--font);
    font-weight: 500;
    letter-spacing: 1px;
    border-bottom: 2px solid var(--secondary-color);
    color: var(--secondary-color);
    transition: all .5s ease;
}

.btn2 i {
    vertical-align: middle;
    margin-right: 2px;
    font-size: 22px;
}

.btn2:hover {
    transform: scale(1.1) translateY(6px);
}

.social-media-buttons {
    margin-top: -20px;
    display: flex;
    gap: 18px;
}

.social-media-buttons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 40px;
    background-color: var(--secondary-color);
    font-size: 1.20rem;
    border-radius: 10px;
    text-decoration: none;
    color: var(--bg-color);
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow .3s ease;
}

.social-media-buttons a:hover {
    box-shadow: 0px 0px 12px 8px rgba(0, 0, 0, 0.1);
}



/* METHOD */

.check-list {
    margin: 0;
}
  
  .check-list li {
    position: relative;
    list-style-type: none;
    padding-left: 2.5rem;
    margin-bottom: 0.5rem;
    color: #2a2a2a;
    font-weight: 500;
  }
  
  .check-list li:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 5px;
      height: 11px;
      border-width: 0 2px 2px 0;
      border-style: solid;
      transform-origin: bottom left;
      transform: rotate(45deg);
  }



/* ABOUT */

.about__img {
    width: 400px;
    border-radius: .5rem;
    justify-self: center;
    align-self: center;
}

.about__container {
    display: flex;
    align-items: center;
    /* grid-template-columns: repeat(1, 1fr); */
    gap: 2.5rem;
    margin-left: 5.5rem;
    margin-right: 5.5rem;
}

.about__description {
    text-align: left;
    color: var(--text-color);
    font-weight: 500;
    line-height: 1.5rem;
}

.about__info {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
}

.about__info-title {
    font-size: var(--h3-font);
    font-weight: 600;
    color: var(--secondary-color);
}

.about__info-name {
    font-size: .9rem;
}

.about__info-title,
.about__info-name {
    display: block;
    text-align: center;
}

.about__buttons {
    display: flex;
    justify-content: center;
}



/* RESULT CARDS */

#dishes {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 32px;
    flex-wrap: wrap;
}

.dish {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    gap: 18px;
    width: 30%;
    padding: 30px 10px 30px 10px;
    background-color: var(--color-neutral-0);
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
    flex-wrap: wrap;
}

.dish-heart {
    position: absolute;
    background-color: var(--main-color-dark);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.7rem;
    color: var(--bg-color);
    width: 50px;
    height: 50px;
    right: -10px;
    top: -10px;
    border-radius: 0px 37.5px 0px 42.5px;
}

.dish-title {
    font-size: .9rem;
    text-align: center;
}

@media screen and (max-width: 1000px) {
    #dishes {
        flex-wrap: wrap;
        justify-content: center;
    }

    .dish {
        width: calc(50% - 12px);
    }
}

/* @media screen and (max-width: 600px) {
    .dish {
        width: 100%;
    }

    #menu .section-subtitle {
        text-align: center;
    }
}  */


/* SERVICES */

#services {
    margin-top: 2rem;
    /* height: 100vh; */
    width: 100%;
    display: grid;
    place-items: center;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 3rem;
  }

  .column {
    width: 100%;
    padding: 0 1em 1em 1em;
    text-align: center;
  }

  .card {
    width: 100%;
    height: 100%;
    padding: 2em 1.5em;
    /* background: linear-gradient(#2a2a2a 50%, var(--secondary-color) 50%); */
    background: linear-gradient(#fcf6e5 50%, var(--secondary-color) 50%);
    /* background: #feebbb; */
    background-size: 100% 200%;
    background-position: 0 2.5%;
    border-radius: 5px;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    transition: 0.5s;
  }

  .service-title {
    font-size: 20px;
    font-weight: 600;
    color: var(--secondary-color);
    margin: 1em 0;
    transition: all .5s ease;
  }

  .service-description {
    color: var(--text-color);
    font-weight: 500;
    font-size: 15px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    transition: all .5s ease;
  }

  .icon-wrapper {
    background-color: var(--secondary-color);
    position: relative;
    margin: auto;
    font-size: 30px;
    height: 2.5em;
    width: 2.5em;
    color: #ffffff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    transition: 0.5s;
  }
  .card:hover {
    background-position: 0 100%;
  }
  .card:hover .icon-wrapper {
    background-color: #fafafa;
    color: var(--secondary-color);
  }
  .card:hover h3 {
    color: #fdfdfd;
  }
  .card:hover p {
    color: #fdfdfd;
    font-weight: 500;
  }
  @media screen and (min-width: 768px) {

    .column {
      flex: 0 50%;
      max-width: 50%;
    }
  }
  @media screen and (min-width: 992px) {
    .column {
      flex: 0 0 33.33%;
      max-width: 33.33%;
    }
  }




/* REVIEWS */

.line, .carousel li img, .carousel li, .carousel {
    width: 100%;
}

.flex, .carousel-wrapper, .center, .carousel ul {
    display: flex;
}

.center, .carousel ul {
    align-items: center;
    justify-content: center;
}

.carousel-wrapper {
    position: relative;
    max-width: 700px;
    margin: 50px;
}

.carousel-wrapper input {
    display: none;
}

.carousel {
    overflow: hidden;
    border-radius: 15px;
}

.carousel ul {
    position: relative;
    list-style: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 500%; /* Mantém o valor original */
    transition: left 0.8s cubic-bezier(0.77, 0, 0.175, 1);
}

.carousel li {
    margin-right: 10px; /* Adiciona espaço entre as imagens */
}

.carousel li img {
    border-radius: 15px;
    width: calc(100% - 10px); /* Ajusta a largura para considerar a margem */
}

.nav-dot {
    position: absolute;
    cursor: pointer;
    margin-left: -7.5px;
    bottom: -22.5px;
    width: 15px;
    height: 15px;
    opacity: 0.5;
    background-color: var(--secondary-color);
    border-radius: 50%;
    transition: 0.4s;
}

.nav-dot:hover {
    opacity: 0.8;
    transform: scale(1.2);
}

.nav-dot:active {
    transform: scale(0.9);
}

.nav-dot[for=slide1] {
    left: 40%;
}

#slide1:checked ~ .carousel ul {
    left: 0%;
}

#slide1:checked ~ .nav-dot[for=slide1] {
    opacity: 1;
}

.nav-dot[for=slide2] {
    left: 45%;
}

#slide2:checked ~ .carousel ul {
    left: -100%;
}

#slide2:checked ~ .nav-dot[for=slide2] {
    opacity: 1;
}

.nav-dot[for=slide3] {
    left: 50%;
}

#slide3:checked ~ .carousel ul {
    left: -200%;
}

#slide3:checked ~ .nav-dot[for=slide3] {
    opacity: 1;
}

.nav-dot[for=slide4] {
    left: 55%;
}

#slide4:checked ~ .carousel ul {
    left: -300%;
}

#slide4:checked ~ .nav-dot[for=slide4] {
    opacity: 1;
}

.nav-dot[for=slide5] {
    left: 60%;
}

#slide5:checked ~ .carousel ul {
    left: -400%;
}

#slide5:checked ~ .nav-dot[for=slide5] {
    opacity: 1;
}

.right-arrow, .left-arrow {
    display: none;
    position: absolute;
    cursor: pointer;
    font-weight: bolder;
    text-shadow: 0 0 7.5px rgba(0, 0, 0, 0.7);
    top: 50%;
    z-index: 1;
    opacity: 0.7;
    margin-top: -25px;
    height: 50px;
    font-size: 50px;
    transition: 0.2s;
}

.right-arrow:hover, .left-arrow:hover {
    opacity: 1;
    transform: scale(1.2);
}

.right-arrow:active, .left-arrow:active {
    transform: scale(0.9);
}

.left-arrow {
    left: 15px;
}

.right-arrow {
    right: 15px;
}

#slide1:checked ~ .left-arrow[for=slide5], #slide1:checked ~ .right-arrow[for=slide2] {
    display: block;
}

#slide2:checked ~ .left-arrow[for=slide1], #slide2:checked ~ .right-arrow[for=slide3] {
    display: block;
}

#slide3:checked ~ .left-arrow[for=slide2], #slide3:checked ~ .right-arrow[for=slide4] {
    display: block;
}

#slide4:checked ~ .left-arrow[for=slide3], #slide4:checked ~ .right-arrow[for=slide5] {
    display: block;
}

#slide5:checked ~ .left-arrow[for=slide4], #slide5:checked ~ .right-arrow[for=slide1] {
    display: block;
}


.review-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    gap: 2rem;
    align-items: center;
    margin-top: 4rem;
}

.box {
    padding: 35px;
    background-color: var(--secondary-color-dark);
    border-radius: 3rem;
}

.box p {
    color: #fdfdfd;
    font-weight: 500;
    font-size: var(--p--font);
    line-height: 30px;
    margin-bottom: 1.5rem;
}

.in-box {
    display: flex;
    align-items: center;
    gap: 30px;
}

.bx-img img {
    width: 100%;
    height: auto;
    border-radius: 3rem;
}

.bxx-text h4 {
    margin: 5px 0;
    font-size: 18px;
    color: #fdfdfd;
}

.bxx-text h5 {
    color: #fdfdfd;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.ratings i {
    color: var(--main-color);
    font-size: 18px;
    margin-right: 5px;
}




/* EBOOKS */

.ebooks-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    gap: 2rem;
    align-items: center;
    margin-top: 4rem;
}

.row2 {
    position: relative;
    padding: 10px 35px 40px;
    background: #fff0c7;
    /* background: var(--secondary-color); */
    border-radius: 3rem;
}

.row2 img {
    width: 100%;
    height: auto;
    transition: transform .5s ease;
    cursor: pointer;
}

.row2 h3 {
    font-size: 18px;
    margin-bottom: 5px;
    font-weight: 700;
}

.row2 p {
    color: var(--secondary-color);
    font-size: var(--p--font);
    line-height: 20px;
    margin-bottom: 1.1rem;
    font-weight: 500;
}

.in-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.in-text .price h6 {
    font-size: 17px;
    color: var(--secondary-color);
    font-weight: 600;
}

.in-text .s-btn a {
    display: inline-block;
    padding: 9px 23px;
    background: var(--secondary-color);
    color: var(--bg-color);
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 3rem;
    transition: all .5s ease;
}

.in-text .s-btn a:hover {
    background: var(--main-color-dark);
    color: var(--bg-color);
    box-shadow: var(--secondary-color) 0px 1px 10px;
}

.top-icon {
    position: absolute;
    top: 30px;
    left: 35px;
}

.top-icon i {
    font-size: 22px;
    color: var(--secondary-color);
}

.row-btn {
    text-align: center;
    margin-top: 5rem;
}

.row2 img:hover {
    transform: scale(1.1);
}




/* CONTACT */

.contact {
    margin-top: 100px;
    background-color: #fff3d3;
    display: flex;
    position: relative;
    overflow: hidden;
    /* max-width: 1200px; */
}

.contact-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contact-img img {
    position: absolute;
    bottom: 0;
    left: 75%;
    transform: translateX(-50%) translateY(50%); /* Centraliza horizontalmente e move para cima verticalmente */
    width: 510px; /* Ajuste o tamanho conforme necessário */
    height: auto; /* Mantém a proporção da imagem */
}

.btn3 {
    display: inline-block;
    padding: 15px 35px;
    background: var(--secondary-color);
    color: var(--bg-color);
    font-size: var(--p--font);
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 2rem;
    transition: all .5s ease;
    box-shadow: var(--secondary-color-dark) 0px 1px 25px;
}

.btn3 i {
    vertical-align: middle;
    margin-right: 7px;
    font-size: 22px;
}

.btn3:hover {
    transform: scale(1.1);
}


/* FOOTER */

footer {
    margin-top: 100px;
    background-color: var(--bg-color);
}

#footer_items {
    background: #fff3d3;
    display: flex;
    justify-content: space-between;
    padding: 0px 8% 24px 8%;
    align-items: center;
    margin-top: -80px;
}

#footer_items img {
    margin: -20px 40px 0;
}

#copyright {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.developer {
    color: #686868;
    font-size: .7rem;
    font-weight: 400;
}

.developer a {
    color: #575757;
    font-weight: 600;
    transition: all .5s ease;
}

.developer a:hover {
    color: #ababab;
}